<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="orders-tests">
            <directory suffix="Test.php">./app/tests/controllers/Admin</directory>
        </testsuite>
        <testsuite name="product-tests">
            <directory suffix="Test.php">./app/tests/controllers</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="build/report.junit.xml"/>
    </logging>
    <php>
        <env name="APP_ROOT" value="C:\OpenServer\domains\php2\" />
        <env name="TEST_CONFIG" value="test-config" />
    </php>
</phpunit>