<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="assets/css/style.css">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% include('common/header.tmpl') %}
    <hr>
    <div class="content">
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </div>
    <hr>
    {% include('common/footer.tmpl') %}
</body>
</html>