html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item+.menu__item {
    margin-left: 50px;
}

.images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image__item {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s;
    margin-bottom: 20px;
}