<!-- begin: cart.tmpl -->
<div class="header-cart dropdown">
    <a class="cart__link {% if cart_products %}dropdown-toggle{% endif %}" id="dropdownCart" href="/cart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Корзина ( {{ count }} )</a>
    <div class="dropdown-menu cart-content" aria-labelledby="dropdownCart">
        {% if cart_products %}
            <table>
                <tbody>
                {% for product in cart_products %}
                    <tr>
                        <td><img src="/public/img/{{ product.thumb }}" alt="{{ product.name }}" width="24"></td>
                        <td><a class="cart-content__link" href="/product?product_id={{ product.product_id }}">{{ product.name }}</a>
                        </td>
                        <td class="price">{{ product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td class="price">{{ product.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">Итого</td>
                    <td>{{ count }}</td>
                    <td class="price">{{ total }}</td>
                </tr>
                </tfoot>
            </table>
            <div class="checkout-buttons d-flex">
                <div class="checkout-button col align-self-center">
                    <a class="btn btn-secondary" href="/cart">Просмотр корзины</a>
                </div>
                <div class="checkout-button col align-self-center justify-content-end">
                    <a class="btn btn-primary" href="/checkout">Оформить заказ</a>
                </div>
            </div>
        {% else %}
            Корзина пуста
        {% endif %}
    </div>
</div>
<!-- end: cart.tmpl -->
