<!-- begin: footer.tmpl -->
<footer class="footer">
    <div class="container">
    {% block footer %}
        <h3>{{ "now"|date("Y") }}</h3>
    {% endblock %}
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/public/js/app.js"></script>
<!-- end: footer.tmpl -->
