<!-- begin: header.html.twig -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="header-row__left col align-self-center">
                {% include('common/menu.tmpl') %}
            </div>
            <div class="header-row__right col align-self-center d-flex justify-content-end">
                <div class="cart-wrap">
                    {% include('common/cart.tmpl') %}
                </div>
                <div class="account-wrap">
                    {% include('common/account.tmpl') %}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end: header.html.twig -->

