<!-- begin: menu.tmpl -->
<ul class="nav menu">
    <li class="nav-item menu__item">
        <a class="nav-link menu__link home-link active" aria-current="page" href="/">Главная</a>
    </li>
    <li class="nav-item menu__item">
        <a class="nav-link menu__link" href="/catalog">Каталог товаров</a>
    </li>

</ul>
<!-- end: menu.tmpl -->