<!-- begin: menu.tmpl -->
<ul class="menu">
    <li class="menu__item"><a class="menu__link home-link" href="/">Главная</a></li>
    <li class="menu__item"><a class="menu__link" href="/catalog">Каталог товаров</a></li>
</ul>
<!-- end: menu.tmpl -->