{% extends "layouts/admin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="description">
                {{ output | raw }}
            </div>
        </div>
    </div>
{% endblock %}